<div class="main">
    <form #startForm="ngForm">
        <p>Works</p>
        <label for="firstname" value=""></label>
        <input id="firstname" type="text" name="firstname" [(ngModel)]="firstname" ngModel required>
        <br>
        <input id="lastname" type="text" name="lastname" [(ngModel)]="lastname" ngModel required>
        <br>

        <div *ngIf="!validparameters">
            <p>Please enter a first and last name.</p>
        </div>
        <button type="start" (click)="startSurvey();">Start Survey</button>
    </form>
</div>