<div class="centre-div">
   <button type="home" class="button button-home" style="vertical-align:middle" [routerLink]="['']">Home</button>
</div>

<div class="main">
   <form #qForm="ngForm" (ngSubmit)="submitResponses(qForm)">
      <ul>
         <li *ngFor="let question of questions">
            <label class="radio-label-out">{{question.questionText}}</label>
            <br>
            <div class="radio-div">
               <ul class="ul-display" *ngFor="let response of question.responses">
                  <input 
                     type="radio" 
                     value="{{response.rText}}" 
                     name="{{question.questionId}}" 
                     id="{{question.questionId}}{{response.rId}}" 
                     (ngModelChange)="submitRadio(question.questionId, response.rId, response.rText)" 
                     ngModel required>
                  <label 
                     class="radio-label" 
                     for="{{question.questionId}}{{response.rId}}"> 
                     {{response.rText}} 
                  </label>
               </ul>
            </div>
            <div *ngIf="isSubmitted && qForm.invalid">
               <p class="redred">Required: Please select a value</p>
            </div>
            <br><br>
         </li>
      </ul>
      <div class="centre-div">
         <input [disabled]="qForm.invalid" type="submit" class="button button-submit" value="Submit Form">
      </div>
   </form>
</div>