<div class="centre-div">
   <button type="home" class="button button-home" [routerLink]="['']">Home</button>
</div>

<div class="main">
   <form #questionForm="ngForm" (ngSubmit)="submitResponses(questionForm)">
      <ul>
         <li *ngFor="let question of questions">
            <label class="radio-label-out">{{question.questionText}}</label>
            <div class="radio-div">
               <mat-radio-group
                  aria-labelledby="radio-group-label"
                  class="radio-group"
               >
                  <mat-radio-button 
                  color="primary"
                  class="radio-button" 
                  *ngFor="let response of question.responses" 
                  [value]="response.rText"
                  (change)="submitRadio(question.questionId, response.rId, response.rText)"
                  >
                     {{response.rText}}
                  </mat-radio-button>
               </mat-radio-group>
            </div>
         </li>
      </ul>
      <div class="centre-div">
         <input [disabled]="!isValid" type="submit" class="button button-submit" value="Submit Form">
      </div>
   </form>
</div>