body {
    color: #4d4d4d;
    background-color: #f5f5f5;
  } 

.main {
  max-width: 1000px;
  width: 85%;
  margin: 2rem auto;
  padding: 1rem;
  text-align: auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 2.5rem 5rem 0 rgba(0,0,0,.1);
  background-color: rgb(223, 222, 222);
}

.radio-div {
  text-align: left; 
  padding-top: 20px;
  padding-left: 40px;
}

  label {
    font-size: 20px;
    text-align: left;
  }

  .ul-display {
    display:block;
  }

  .radio-label-in {
    text-align: left;
  }

  .radio-label-out {
    padding-right: 0px;
  }
  
  .lg-text-input {
    width: 100%;
    padding: 1rem;
    border: 2px solid #000;
    display: block;
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  ul {
    padding-inline-start: 0;
  }
  
   ul li {
      list-style: none;
  }
 
  .button-submit:hover:enabled {
    opacity: 0.75;
    padding-right: 80px;
    transition: 1s;
  }

  input[type="radio"] {
    accent-color: #f4511e;
    color: #f4511e;
    width: 20px;
    height: 20px;
  }