// /* You can add global styles to this file, and also import other style files */


body {
  font-family: Roboto, "Lucida Grande", sans-serif;
  margin: 0;
  padding: 30px;
}

html, body {
  height: 100%;
}
  
.centre-div {
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f7f3f2;
  border: none;
  color: #0779fc;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:disabled, button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover:enabled span {
  padding-right: 25px;
}

.button:hover:enabled span:after {
  opacity: 1;
  right: 0;
}

.button-home:hover {
  opacity: 0.75;
  padding-left: 100px;
  transition: 0.5s;
  background-color: #becff0;
}

